<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.freeboard.mapper.FreeBoardMapper">

<sql id="freeboardcriteria">
<where>
   <foreach item="type" collection="typeArr" separator="OR">
      <choose>
         <when test="type == 'T'.toString()">
            title LIKE '%' || #{keyword} || '%'
         </when>
         <when test="type == 'C'.toString()">
            content LIKE '%' || #{keyword} || '%'
         </when>
         <when test="type == 'W'.toString()">
            writer LIKE '%' || #{keyword} || '%'
         </when>
      </choose>
   </foreach>
</where>
</sql>


   <select id="getList" resultType="org.zerock.freeboard.domain.FreeBoardVO">
<![CDATA[
      SELECT * FROM tbl_freeboard ORDER BY free_seq DESC
]]>      
      
   </select>
   
    <select id="getListWithPaging" resultType="org.zerock.freeboard.domain.FreeBoardVO">
<![CDATA[   
   SELECT
    free_seq, free_title, free_content,free_nickname,
    free_writer, free_regdate, free_updatedate,free_readCnt,free_replyCnt
   FROM
    (
     SELECT 
      ROW_NUMBER() OVER (ORDER BY free_seq DESC) rn,
      free_seq, free_title, free_content, free_writer,
      free_nickname,
      free_regdate, free_updatedate,free_readCnt,free_replyCnt
     FROM
      tbl_freeboard
]]>
   
   <include refid="freeboardcriteria"></include>
 
<![CDATA[
    )
   WHERE
    rn BETWEEN (#{pageNum} - 1) * #{amount} + 1 AND #{pageNum} * #{amount}
]]>      
   </select>
    
   
   <insert id="insert">
      INSERT INTO tbl_freeboard (free_seq, free_title, free_content, free_writer, free_nickname)
      VALUES (free_seq.nextval, #{free_title}, #{free_content}, #{free_writer}, #{free_nickname})
   </insert>
   
   <insert id="insertSelectKey">
      <selectKey keyProperty="free_seq" order="BEFORE" resultType="int">
      SELECT free_seq.nextval FROM dual
      </selectKey>
   
      INSERT INTO tbl_freeboard (free_seq, free_title, free_content, free_writer,free_nickname,free_regdate,free_updatedate)
      VALUES (#{free_seq }, #{free_title}, #{free_content}, #{free_writer}, #{free_nickname},sysdate,sysdate)
   </insert>
 
   <select id="read" resultType="org.zerock.freeboard.domain.FreeBoardVO">
      SELECT * FROM tbl_freeboard WHERE free_seq = #{free_seq}
   </select>
   
    <delete id="delete">
      DELETE FROM tbl_freeboard where free_seq = #{free_seq}
   </delete> 
   
   <update id="update">
   UPDATE	tbl_freeboard
   SET		free_title = #{free_title},
     		free_content = #{free_content},
     		free_nickname = #{free_nickname},
     		free_updatedate = sysdate
   WHERE 	free_seq = #{free_seq}
   </update>
   
    <select id="getTotalCount" resultType="int">
   SELECT count(*) FROM tbl_freeboard   
   <include refid="freeboardcriteria"></include>
   </select> 
   
   <update id="updateReplyCnt">
   UPDATE tbl_freeboard 
   SET 
   		  free_replyCnt = free_replyCnt + #{amount}
   WHERE 
   		  free_seq = #{free_seq}
   </update> 
   
   <select id="readCnt" resultType="int">
   		SELECT free_readCnt FROM tbl_freeboard
		WHERE free_seq = #{free_seq}
   </select>
   
   <update id="addCnt">
   		UPDATE tbl_freeboard
   		SET free_readCnt = free_readCnt + 1
		WHERE free_seq = #{free_seq}
   </update>
     
</mapper>
