<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.RevBoard.mapper.RevBoardMapper">

	<insert id="insertSelectKey">
		<selectKey keyProperty="rev_seq" order="BEFORE"
			resultType="int">
			SELECT rev_seq.nextval FROM dual
		</selectKey>
		INSERT INTO tbl_reviewboard (rev_seq, rev_category, rev_title,
		rev_writer,rev_content, rev_filename, rev_regdate, rev_updatedate)
		VALUES (#{rev_seq}, #{rev_category}, #{rev_title}, #{rev_writer},
		#{rev_content}, #{rev_filename},sysdate, sysdate)
	</insert>

	<select id="read" resultType="org.zerock.RevBoard.domain.RevVO">
		SELECT * FROM tbl_reviewboard WHERE rev_seq = #{rev_seq}
	</select>

	<delete id="delete">
		DELETE FROM tbl_reviewboard WHERE rev_seq = #{rev_seq}
	</delete>

	<update id="update">
		UPDATE tbl_reviewboard
		SET rev_category = #{rev_category},
		rev_title = #{rev_title},
		rev_content = #{rev_content},
		rev_filename = #{rev_filename},
		rev_readcnt = 0,
		rev_good = 0,
		rev_hate = 0,
		rev_updatedate = SYSDATE
		WHERE rev_seq = #{rev_seq}
	</update>

	<select id="getList"
		resultType="org.zerock.RevBoard.domain.RevVO">
		<!-- <![CDATA[]]> 는 부등호를 사용하기위해 씀 -->
    <![CDATA[ 
    SELECT * FROM tbl_reviewboard WHERE rev_seq > 0
  ]]>
	</select>
	
	<!-- <select id="getListWithPaging"
		resultType="org.zerock.RevBoard.domain.RevVO">
		<![CDATA[]]> 는 부등호를 사용하기위해 씀
    <![CDATA[ 
    
  ]]>
	</select -->

	<select id="countGood" resultType="int">
		SELECT rev_good FROM tbl_reviweboard WHERE rev_seq = #{rev_seq}
	</select>

	<update id="addCount">
		UPDATE tbl_reviewboard
		SET rev_good = #{rev_good + 1 }
		WHERE rev_seq = #{rev_seq}
	</update>
	
	<select id="countReadCnt" resultType="int">
		SELECT rev_readcnt FROM tbl_reviewboard
		WHERE rev_seq = #{rev_seq}
	</select>
	
	<update id="addReadCnt">
		UPDATE tbl_reviewboard
		SET rev_readcnt = #{rev_readcnt + 1 } 
		WHERE rev_seq = #{rev_seq}
	</update>
</mapper>